@font-face {
    font-family: 'Futura-Med';
    src: url('/fonts/Futura-Med.ttf') format('woff');
    url('/fonts/Futura-Med.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    position: relative;
    color: #333;
    margin: 0 auto;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-weight: 500;
}

/*文字色*/
h2 {
    font-size: 37px;
    font-family: "Yu Gothic";
    border-bottom: 3px solid #EE1F79;
    padding-bottom: 25px;
}

h3 {
    font-size: 23px;
    font-family: "Yu Gothic";
    margin-top: 25px;
    margin-bottom: 25px;
}


/*ヘッダー*/
#header {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../images/mainA_bg2.png), url(../images/slide1.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center center;
    background-size: cover;
}

.header-contents{
    margin: 100px 180px 80px 150px;
    position: relative;
}

.header-contents .logo{
    width: 530px;
}

.header-contents .list{
    width: 425px;
}
.highlight span {
    color: #fff;
    font-size: 20px;
    background-color: #000;
    font-family: "Yu Gothic";
    padding: 3px;
}

.support  {
    color: #fff;
    font-size: 14px;
    font-family: "Yu Gothic";
    margin: 5px;
}
.right-dots{
    position: absolute;
}
.dots{
top: -570px;
  left: 800px;
    width: 300px;
     position: absolute;
    z-index: 50;
}
.arrow{
  top: -250px;
  left: 800px;
    width: 30px;
     position: absolute;
    z-index: 50;
}
/*メニューバー*/
nav {
    overflow: hidden;
    background-color: rgb(21, 30, 67, 0.7);
    width: 100%;
    height: 60px;
    display: block;
    position: fixed;
    font-family: "Futura-Med";
    text-align: right;
    z-index: 100;
}

nav li {
    display: inline-block;
    list-style-type: none;
    padding-right: 45px;
}

nav li:first-child {
    text-align: right;
}

nav a {
    font-size: 17px;
    display: block;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    position: relative;
}

nav a:hover {
    color: #ed1e79;
}

nav img {
    width: 290px;
}

/*about*/
#about {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #151e43;
    background-size: cover;
    color: #fff;
}

.about {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);  
}

.about-detail {
    margin: 80px 180px 80px 180px;
}

.box-detail {
    display: flex;
}

.left-box {
    width: 520px;
}

.right-box iframe {
    width: 370px;
    height: 210px;
    margin-top: 25px;
    margin-left: 25px;
}

/*プログラム紹介*/
#program {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-size: cover;
}

.program-detail {
    margin: 40px 180px 80px 180px;
}

.program-white {
    color: #333;
    display: flex;
}

.program-box h4 {
    color: #141d42;
    font-size: 19px;
}

.program-box p {
    color: #333;
    font-size: 12px;
    margin: 0 auto;
}

.program .right-box img {
    width: 360px;
    height: 250px;
    margin-top: 25px;
    margin-left: 25px;
}

.program-yellow {
    background-color: #FEEB07;
}

.yellow-detail {
    margin: 80px 180px 80px 180px;
    display: flex;
    flex-wrap: wrap;
}

.program-yellow img {
    width: 286px;
    height: 200px;
    margin: 0 auto;
}

.program-box {
    margin: 0 auto;
    width: 286px;
    justify-content: center;
    align-items: center;
}

.program-box figure {
    background-color: #fff;
    width: 286px;
    height: 200px;
}

.program-box p {
    line-height: 25px;
    padding: 15px;
    margin: 0 auto;
}

/*コース紹介*/
#courses {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    background-size: cover;
}

.courses-detail {
    margin: 80px 180px 80px 180px;
}

.all-courses img {
    height: 130px;
}

.all-courses ul {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    list-style: none;
}

.all-courses li {
    text-align: center;
    width: 130px;
    margin: 10px;
}

.all-courses span {
    font-size: 12px;
}

.all-courses p {
    margin-top: 40px;
    font-size: 13px;
    line-height: 25px;
}

.mentor-example {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.mentor-title{
    text-align: center;
}
.mentor-title p{
    color: #fff;
    background-color: #28ABE1;
    font-size: 27px;
    width: 420px;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
     display: inline-block;
    line-height: 60px;
}

.mentor-title p:hover {
    background-color: #63BBE1;
}

.example-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.example-box span {
    color: #fff;
    font-size: 14px;
    background-color: #000;
    font-family: "Yu Gothic";
    padding: 10px;
    margin-left: 25px;
}

.example-box iframe {
    width: 370px;
    height: 210px;
    margin: 20px 25px 40px 25px;
}

#lit {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    background-size: cover;
    color: #000;
}

.lit-detail {
    margin: 80px 180px 80px 180px;
}

.lit-box {
    display: flex;
}

.lit img {
    width: 273px;
    height: 55px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.lit p {
    width: 500px;
    font-size: 14px;
    line-height: 30px;
}

.lit iframe {
    margin-top: 25px;
    margin-left: 25px;
}

/*インタビュー*/
#interview {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #4D4D4D;
    background-size: cover;
    color: #fff;
}

.interview {
    margin: 0 auto;
    background-color:  #4D4D4D;
 
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}
.interview-detail{
    margin: 180px 180px 80px 180px;
}

.mentor-now{
    margin-bottom: 100px;
}
.mentor-past{
    margin-bottom: 100px;
}

.pic-detail {
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
}

.interview img {
    width: 120px;
    margin: 12px;
}
.pic-detail2 {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}

.pic-detail2 img {
    margin: 23px;
}

.interview-pic p {
    text-align: center;
    font-size: 14px;
}

.square-pic p {
    text-align: center;
    font-size: 14px;
}

/*join*/
#join {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #151E43;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.join-detail{
    margin: 80px 180px 80px 180px;
    text-align: center;
}

.join-detail h3{
    margin-top: 70px;
    margin-bottom: 35px;
}
.join-box {
    width: 60%;
    overflow: hidden;
    background-color: #fff;
    background-size: cover;
    color: #000;
    border-radius: 10px;
    text-align: left;
    font-size: 14px;
     display: inline-block;
}

.join-box ul {
    list-style: none;
}

.join-title{
    たぶんboldにする
}

.join-a{
    margin-top: 50px;
    margin-bottom: 150px;
     position: relative;
}
.join-a img{
    width: 200px;
    height: 80px;
    position: relative;
    padding-top: 20px;
     position: relative;
}

.join-a a {
    font-size: 15px;
    background-color: #EE1F79;
    color: white;
/*
    margin-top: 20px;
    margin-bottom: 20px;
*/
    padding: 60px 60px;
    text-decoration: none;
    border-radius: 70px;
    position: relative;
}

/*SNS*/
#sns {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-size: cover;
    color: #000;
    text-align: center;
}

.sns-detail {
    margin: 80px 180px 80px 180px;
}

.sns-detail a {
    font-size: 13px;
    color: #000;
    text-decoration: none;
}

.sns-detail a:hover {
    color: #EE1F79;
}

.sns-detail img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.sns-fb {
    margin-top: 30px;
}

.sns-ig {
    margin-top: 30px;
}

/*フッター*/
footer {
    margin: 0 auto;
    width: 100%;
    background-color: #151E43;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 5px;
}

/*fuwat*/

/*レスポンシブ*/
