* {
    margin: 0;
    padding: 0;
    font-family: "Tsukushi A Round Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}

body {
    width: 100%;
    position: relative;
    text-align: center;
    text-align: center;
    color: #333;
    margin: 0 auto;
    font-family: "游ゴシック体", YuGothic;
}

/*ヘッダー*/

/*メニューバー*/

/*about*/

/*コース紹介*/

/*メンター紹介*/

/*join*/

/*SNS*/

/*フッター*/

/*fuwat*/

/*レスポンシブ*/
