@font-face {
    font-family: 'Futura-Med';
    src: url('/fonts/Futura-Med.ttf') format('woff');
    url('/fonts/Futura-Med.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    /*    box-sizing: border-box;*/
}

body {
    width: 100%;
    position: relative;
    color: #333;
    margin: 0 auto;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-weight: 500;
}

/*文字色*/
h2 {
    font-size: 37px;
    display: inline-block;
    margin-bottom: 1em;
    padding-bottom: 25px;
}

h2:before {
    content: '';
    position: absolute;
    left: 200px;
    top: 170px;
    display: inline-block;
    width: 40px;
    height: 2px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #EE1F79;
    border-radius: 2px;
    z-index: 10;
}

h3 {
    font-size: 23px;
    margin-top: 25px;
    margin-bottom: 25px;
}


/*ヘッダー*/
#header {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../images/mainA_bg2.png), url(../images/slide1.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-color: #151e43;

}

.header::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 140px 100vw;
    transform: rotate(180deg);
    border-color: transparent transparent transparent #151e43;
}

.header-contents {
    margin: 100px 180px 80px 150px;
    position: relative;
    overflow: visible;
}

.header-contents .logo {
    width: 530px;
}

.header-contents .list {
    width: 425px;
}

.highlight span {
    color: #fff;
    font-size: 20px;
    background-color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-weight: 500;
    padding: 3px;
}

.support {
    color: #fff;
    font-size: 14px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    margin: 5px;
}

.right-dots {
    position: absolute;
}

.dots {
    top: -570px;
    left: 800px;
    width: 300px;
    position: absolute;
    z-index: 50;
    float: left;

}

.arrow {
    top: -90px;
    left: 800px;
    width: 30px;
    position: absolute;
    z-index: 50;
    float: left;
}

/*メニューバー*/
nav {
    overflow: hidden;
    background-color: rgb(21, 30, 67, 0.7);
    width: 100%;
    height: 60px;
    position: fixed;
    font-family: "Futura-Med";
    font-weight: 100;
    z-index: 100;
}

nav ul {
    display: flex;
    align-items: center;
    text-align: right;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    margin-right: 45px;
    position: relative;
}

nav li:first-child {
    text-align: right;
}

nav a {
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    position: relative;
}

nav a:hover {
    color: #ed1e79;
}

nav img {
    width: 290px;
}

.home {
    text-align: right;
    align-content: right;
    margin-right: 250px;
    margin-left: 120px;
    margin-top: 10px;
}

.pink-nav {
    color: #fff;
    font-size: 14px;
    text-align: center;
    position: relative;
    width: 100px;
    height: 25px;
    align-items: center;
    justify-content: center;
}

.pink-nav::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100px;
    height: 25px;
    background: #ed1e79;
    transform: skewX(-30deg);
    z-index: -1
}

/*about*/
#about {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #151e43;
    background-size: cover;
    color: #fff;
}

.about {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.about-detail {
    margin: 50px 180px 80px 180px;
}

.about h2:before {
    top: 140px;
}

.about .left-box p {
    font-size: 15px;
}

.box-detail {
    display: flex;
}

.left-box {
    width: 520px;
}

.right-box iframe {
    width: 370px;
    height: 210px;
    margin-top: 25px;
    margin-left: 25px;
}

/*プログラム紹介*/
#program {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-size: cover;
}

.program-detail {
    margin: 40px 180px 80px 180px;
}

.program-white {
    color: #333;
    display: flex;
}

.program h2:before {
    top: 140px;
}

.program-box h4 {
    color: #141d42;
    font-size: 19px;
}

.program-box p {
    color: #333;
    font-size: 12px;
    margin: 0 auto;
}

.program .right-box img {
    width: 360px;
    height: 250px;
    margin-top: 25px;
    margin-left: 25px;
}

.program-yellow {
    background-color: #FEEB07;
}

.yellow-detail {
    margin: 0px 180px 0px 180px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.program-yellow img {
    width: 286px;
    height: 200px;
    margin: 0 auto;
}

.program-box {
    width: 286px;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    margin: 5px;
}

.program-box figure {
    background-color: #fff;
    width: 286px;
    height: 410px;
    margin: 0 auto;
}

.program-box p {
    line-height: 25px;
    padding: 15px;
    margin: 0 auto;
}

.margin-bottom {
    margin-bottom: 80px;
}

/*コース紹介*/
#courses {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    background-size: cover;
}

.courses-detail {
    margin: 80px 180px 80px 180px;
}

.all-courses img {
    height: 130px;
}

.all-courses ul {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    list-style: none;
}

.all-courses li {
    text-align: center;
    width: 130px;
    margin: 10px;
}

.all-courses span {
    font-size: 12px;
}

.all-courses p {
    margin-top: 40px;
    font-size: 13px;
    line-height: 25px;
}

.mentor-example {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.mentor-title {
    text-align: center;
}

.mentor-title p {
    color: #fff;
    background-color: #28ABE1;
    font-size: 27px;
    width: 420px;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline-block;
    line-height: 60px;
}

.mentor-title p:hover {
    background-color: #63BBE1;
}

.example-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.example-box span {
    color: #fff;
    font-size: 14px;
    background-color: #000;
    padding: 10px;
    margin-left: 25px;
}

.example-box iframe {
    width: 370px;
    height: 210px;
    margin: 20px 25px 40px 25px;
}

#lit {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    background-size: cover;
    color: #000;
}

.lit-detail {
    margin: 80px 180px 80px 180px;
}

.lit-box {
    display: flex;
}

.lit img {
    width: 273px;
    height: 55px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.lit p {
    width: 500px;
    font-size: 14px;
    line-height: 30px;
}

.lit iframe {
    margin-top: 25px;
    margin-left: 25px;
}

/*インタビュー*/
#interview {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #4D4D4D;
    background-size: cover;
    color: #fff;
}

.interview {
    margin: 0 auto;
    background-color: #4D4D4D;

    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

.interview-detail {
    margin: 180px 180px 80px 180px;
}

.mentor-now {
    margin-bottom: 100px;
}

.mentor-past {
    margin-bottom: 100px;
}

.pic-detail {
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
}

.interview img {
    width: 120px;
    margin: 12px;
}

.pic-detail2 {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}

.pic-detail2 img {
    margin: 23px;
}

.interview-pic p {
    text-align: center;
    font-size: 14px;
}

.interview-small {
    font-size: 12px;
}

.square-pic p {
    text-align: center;
    font-size: 14px;
}

.interview h2:before {
    top: 270px;
}

/*join*/
#join {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #151E43;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.join-detail {
    margin: 80px 180px 80px 180px;
    text-align: center;
}

.join h2:before {
    left: 50%;
}

.join-detail h3 {
    margin-top: 40px;
    margin-bottom: 35px;
}

.smalltext {
    font-size: 12px;
}

.join-box {
    width: 80%;
    overflow: hidden;
    background-color: #fff;
    background-size: cover;
    color: #000;
    border-radius: 10px;
    text-align: left;
    font-size: 15px;
    font-weight: 200;
    display: inline-block;
    padding: 25px;
}

.table-left {
    width: 200px;
    font-weight: 600;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

table tr {
    border-color: #fff;
    border-bottom: dotted;
    border-width: 0.7px;
}

table tr:last-of-type {
    border: none;
}

table td {
    padding: 12px;
}

.join-box ul {
    list-style: none;
}

.table-a {
    color: #ed1e79;
}

.join-title {
    font-weight: 600;
    margin: 3px 0px;
}

.join-a {
    margin-top: 50px;
    margin-bottom: 150px;
    position: relative;
}

.join-a a {
    text-decoration: none;
}

.join-a figure {
    margin: 0 auto;
    width: 400px;
    height: 130px;
    background-color: #EE1F79;
    border-radius: 70px;
}

.join-a img {
    width: 200px;
    height: 80px;
    margin-top: 10px;
    vertical-align: center;
    align-items: center;
}

.join-a p {
    font-size: 15px;
    color: white;
}

/*SNS*/
#sns {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-size: cover;
    color: #000;
    text-align: center;
}

.sns-detail {
    margin: 80px 180px 80px 180px;
}

.sns-detail a {
    font-size: 13px;
    color: #000;
    text-decoration: none;
}

.sns-detail a:hover {
    color: #EE1F79;
}

.sns h2:before {
    left: 50%;
}

.sns-detail img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.sns-fb {
    margin-top: 30px;
}

.sns-ig {
    margin-top: 30px;
}

#top {
    transition: all 0.5s;
}

#top .top-button {
    font-size: 15px;
    color: white;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #EE1F79;
    text-align: center;
    line-height: 80px;
    position: fixed;
    top: 60%;
    left: 90%;
}

.button img {
    position: fixed;
    top: 80%;
    left: 91.6%;
}

/*フッター*/
footer {
    margin: 0 auto;
    width: 100%;
    background-color: #151E43;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 5px;
}

/*ハンバーガーメニュー*/
.drawer{
    z-index: 600;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
    background-color: #fff;
}
/*fuwat*/
.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

/*レスポンシブスマホ*/
@media screen and (max-width: 1500px) {
/*
    .drawer-nav {
        opacity: 0;
    }

    .drawer-toggle {
        opacity: 0;
    }
*/

}

@media screen and (max-width : 480px) {
    .body {
        font-family: sans-serif;
    }

    .pc-only {
        opacity: 0;
    }

    /*文字色*/
    h2 {
        font-size: 25px;
        display: inline-block;
        margin-bottom: 1em;
        padding-bottom: 25px;
    }

    h2:before {
        left: 30px;
        top: 40px;
        display: inline-block;
    }

    h3 {
        font-size: 18px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    /*    ハンバーガーメニュー*/
/*
    .drawer-nav {
        opacity: 1;
    }

    .drawer-toggle {
        opacity: 1;
    }
*/

    /*    ヘッダー*/
    #header {
        height: 80vh;
    }

    .header-contents {
        margin: 80px 10px 10px 10px;
    }

    .header-contents .logo {
        width: 95%;
        align-content: center;
    }

    .highlight span {
        font-size: 12px;
    }

    .header-contents .list {
        width: 250px;
    }

    nav {
        background-color: #000;
        height: 50px;
    }

    .home {
        margin: 15px;
    }

    .home img {
        width: 200px;
        vertical-align: center;
    }

    /*    アバウト*/
    .about {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }

    .about-detail {
        margin: 30px 15px 30px 15px;
    }

    .about h2:before {
        top: 100px;
    }

    .about .left-box p {
        font-size: 14px;
    }

    .left-box {
        width: 100%;
    }

    .right-box iframe {
        width: 320px;
        height: 210px;
        align-content: center;
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 100px;
    }

    .box-detail {
        flex-direction: column;
    }

    /*    プログラム*/
    .program-detail {
        margin: 30px 15px 30px 15px;
    }

    .program-white {
        flex-direction: column;
        width: 100%
    }

    .program .left-box {
        width: 100%;
    }

    .program .left-box p {
        font-size: 14px;
    }

    .program h2:before {
        top: 100px;
    }

    .program .right-box img {
        width: 300px;
        height: 200px;
    }

    .yellow-detail {
        margin: 0px 15px 0px 15px;
    }

    /*    コース紹介*/
    .courses-detail {
        margin: 30px 15px 30px 15px;
    }

    .all-courses img {
        height: 100px;
    }

    .all-courses ul {
        justify-content: space-between;
    }

    .all-courses li {
        width: 150px;
        margin: 10px;
    }

    .all-courses p {
        font-size: 11px;
    }

    .mentor-example {
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .mentor-title p {
        font-size: 18px;
        width: 250px;
        height: 60px;
    }

    .example-box span {
        font-size: 12px;
    }

    .example-box iframe {
        width: 340px;
        height: 200px;
        margin: 20px 25px 40px 25px;
    }

    .courses h2:before {
        top: 100px;
    }

    .lit-detail {
        margin: 30px 15px 30px 15px;
    }

    .lit-box {
        flex-direction: column;
    }

    .lit img {
        width: 250px;
        height: 50px;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .lit p {
        width: 100%;
        font-size: 13px;
        line-height: 30px;
    }

    .lit iframe {
        margin-top: 15px;
        margin-left: 15px;
    }

    .lit h2:before {
        top: 100px;
    }

    /*インタビュー*/
    .interview {
        -webkit-clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%);
    }

    .interview-detail {
        margin: 80px 15px 30px 15px;
    }

    .mentor-now {
        margin-bottom: 50px;
    }

    .interview-detail h3 {
        font-size: 17px;
    }

    .mentor-now p {
        font-size: 13px;
    }

    .mentor-past {
        margin-bottom: 50px;
    }

    .mentor-past p {
        font-size: 13px;
    }

    .company-interview p {
        font-size: 13px;
    }

    .pic-detail {
        margin: 25px;
    }

    .pic-detail2 {
        margin: 25px;
    }

    .pic-detail2 img {
        margin: 12px;
    }

    .interview-pic p {
        font-size: 12px;
    }

    .interview-small p {
        font-size: 9px;
    }

    .square-pic p {
        font-size: 12px;
    }

    .interview h2:before {
        top: 150px;
    }

    /*join*/
    #join {
        background-color: #000;
    }

    .join-detail {
        margin: 80px 15px 0px 15px;
    }

    .join h2:before {
        left: 50%;
        top: 135px;
    }

    .join-detail h3 {
        margin-top: 0px;
        margin-bottom: 45px;
    }

    .smalltext {
        font-size: 12px;
    }

    .join-box {
        width: 95%;
        font-size: 14px;
        padding: 5px;
    }

    table td {
        padding: 10px;
        display: block;
        width: 95%;
    }

    .join-a figure {
        width: 300px;
        height: 100px;
        border-radius: 60px;
    }

    .join-a img {
        width: 150px;
        height: 60px;
    }

    /* SNS*/
    .sns-detail {
        margin: 50px 15px 40px 15px;
    }

    .sns-fb {
        margin-top: 10px;
    }

    .sns h2:before {
        top: 110px;
    }

}
